:root {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

a {
  color: #ff7a2d;
  text-decoration: none;
}

button {
  font-family: inherit;
}

/* removemos display:flex e place-items:center do body */
